html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  /* 1rem */
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

div {
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  margin: .5em 0;
  padding: 0;
  ;
  &:first-child {
    margin: 0 0 .5em;
  }
}

h1{
  font-size: 7vw;
  line-height: 100%;
  font-family: 'DNAHeading-DemiBold';
}

h2{
  font-size: 3.5rem;
  line-height: 100%;
  font-family: 'DNAHeading-Black';

}

h3{
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: 'DNAHeading-Bold';

}


h4{
  font-size: 1.5rem;
  font-family: 'DNAHeading-Black';
}

p{
  font-size: 1.25rem;
  line-height: 1.62rem;
  font-family: 'DNAText-Regular';
  margin: 0.7em 0;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-size: 1.25rem;
  line-height: 1.62rem;
  font-family: 'DNAText-Regular';

}

b{
  font-family: 'DNAText-Bold';

}

button{
  font-family: 'DNAText-Bold';
  font-size: 1rem;
}


#__next {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  min-height: 100%;
  min-width: 100%;
}


/* tablet global */

@media (max-width: 1440px) {

  h2{
    font-size: 2rem;
    line-height: 110%;
  }
  h4{
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  
  p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  a{
    font-size: 1rem;
    line-height: 1.5rem;
  }

}


/* mobile global */

@media (max-width: 1024px) {

  
}
@media (max-width: 767px) {

  h2{
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  h3{
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  h4{
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  
  p{
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  
  a{
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  
}