.hero {
  background-color: #fff;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 0;

  .inner{
    text-align: center;
  }

  video{
    object-fit: cover;
    margin: auto;
    width: 100%;
  }
  .content {
    margin: 0  auto;
    max-width: 1220px;
    padding: 9% 10%;
    position: absolute;
  }

  h1 {
    margin-top: 15px;
    margin-bottom: 45px;
    margin-left: 5%;
    margin-right: 5%;
  }

  p {
    margin-left: 30%;
    margin-right: 30%;
  }

}
@media  (max-width: 1024px) {
 
  .hero{
    flex-direction: column;

    .content{
       padding:  10%;
       position: relative;
    }
  }
  }
@media  (max-width: 767px) {

  .hero{
    align-items: center;
    min-height: 42vh;
    padding-top: 50px;

    .content{
      margin: 2em;
      padding: 0;

      span{
        height: 60px !important;
        width: 60px !important;
      }
  
      h1 {
        font-size: 2rem !important;
        line-height: 2.2rem;
        margin: 0;
        text-align: center;
        padding-top: 20px;
      }
  
      p {
        margin-right: 10%;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        padding-top: 20px;
        margin: 0 2%;
      }

      .inner{
        text-align: center;
      }
    }
  }
}